.goods-list{
    display: flex;
    max-width: 1024px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.goods-item{
    border: 1px solid black;
    padding: 15px;
}
